.arraysDesign {
    display: flex;
    flex-direction: column;
}

.keyArray {
    display: flex;
    flex-direction: row;
}

.keyNameValue {
    color: #fb7e14;
}

.expanderDesign {
    cursor:pointer;
    color: #fb7e14
}

.expanderDesign:hover {
    color: red;
}