:root {
    --color-highlight: #fb7e14;
    --color-hover: white;
  }
  
  .arraysDesign,
  .keyArray {
    display: flex;
    flex-direction: column;
  }
  
  .keyArray {
    flex-direction: row;
  }
  
  .keyNameValue,
  .expanderDesign {
    color: var(--color-highlight);
  }
  
  .expanderDesign {
    cursor: pointer;
  }
  
  .expanderDesign:hover {
    color: var(--color-hover);
  }
  