:root {
  --color-highlight: #fb7e14;
  --color-hover: white;
  --color-tooltip-bg: #151515;
  --color-tooltip-text: white;
}

.keyObject {
  display: flex;
  flex-direction: column;
}

.expanderKeyValue {
  display: flex;
  flex-direction: row;
}

.keyName,
.tsExport,
.expanderDesign {
  color: var(--color-highlight);
}

.tsExport {
  transition: 0.3s;
}

.tsExport:hover,
.expanderDesign:hover {
  cursor: pointer;
  color: var(--color-hover);
}

.tooltip {
  position: fixed;
  background-color: var(--color-tooltip-bg);
  color: var(--color-tooltip-text);
  padding: 0.4em;
  border-radius: 0.4em;
  z-index: 100;
  transform: translate(-50%, -100%);
}
