:root {
  --color-background: #292929;
  --color-highlight: #fb7e14;
  --color-text: white;
  --font-family-default: "Verdana", sans-serif;
}

* {
  font-family: var(--font-family-default);
  color: var(--color-text);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-background);
}

.logo {
  display: flex;
  flex-direction: row;
  font-size: 2em;
  user-select: none;
}

.logoOrange {
  color: var(--color-highlight);
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.uxContainer,
.jsonContainer {
  display: flex;
  flex-direction: column;
}

.jsonContainer {
  height: 20em;
  width: 50em;
  overflow: auto;
  padding: 1em;
  margin-top: 4em;
  border: 0.05em solid var(--color-highlight);
  border-radius: 0.5em;
}

input {
  height: 3rem;
  width: 35rem;
  padding-left: 1em;
  margin-top: 2em;
  font-size: 1em;
  background-color: var(--color-background);
  color: var(--color-text);
  border: 0.05em solid var(--color-highlight);
  border-radius: 0.5em;
  transition: box-shadow 0.3s;
}

input:focus {
  box-shadow: 0 0 1em rgba(251, 126, 20, 1);
  outline: none;
}

.warningMsg {
  display: none;
}

@media screen and (max-width: 759px) {
  .uxContainer,
  .jsonContainer {
    display: none;
  }

  .warningMsg {
    display: block;
    text-align: center;
    margin-top: 1em;
    padding: 0.8em;
    border: 0.01em solid var(--color-highlight);
    border-radius: 0.5em;
    background-color: var(--color-background);
  }
}
