
*{
  font-family: 'Verdana', sans-serif;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  background-color: #292929;
}

h4 {
  margin: 0 0 0.5em 0;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.jsonContainer {
  max-height: 22em;
  width: 50em;
  overflow-y: auto;
  overflow-x: auto;
  padding: 0em 0em 0.5em 0.5em;
  border-radius: 0.5em;
  border: 0.05em solid #fb7e14;
  padding: 1em;
}

.input {
  height: 3rem;
  width: 35rem;
  font-size: 1em;
  color: white;
  padding-left: 1em;
  border-radius: 0.5em;
  border: 0.05em solid #fb7e14;
  background-color: #292929;
  transition: 0.3s;
}

.input:focus {
  transition: 0.3s;
  box-shadow: 0 0 1em rgba(251, 126, 20, 1);
  outline: none;
}

.answer {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.value {
  height: 1rem;
  margin-top: 3rem;
  padding-left: 1em;
  color: white;
  font-size: 1em;
}
